<template name="reserveCancel">
	<form class="main form">
    <div class="form-group">

			<br /><br />

	    <div class="form-group {{errorClass 'reserve_mobilePhone'}}">
	      <label class="control-label" for="reserve_mobilePhone">예약시 입력한 휴대폰번호(Mobile number)</label>
	      <div class="controls">
	        <input name="reserve_mobilePhone" id="reserve_mobilePhone" type="text" class="form-control"/>
	        <span class="help-block">{{errorMessage 'reserve_mobilePhone'}}</span>
	      </div>
	    </div>
		</div>

		<input type="submit" value="Submit" class="btn btn-primary submit"/>

    {{#if matchFind}}
      <br />
      {{#each rslt in rslts}}
      	{{> searchResult data=rslt}}
      {{/each}}
		{{/if}}

		{{#if submitted}}
			{{#unless matchFind}}
				<div class="reserveCancel_searchResult">
					<h3>예약 내역이 없습니다.</h3>
					<h3>No matching reservations.</h3>
				</div>
			{{/unless}}
		{{/if}}

	</form>
</template>
