<template name="reserveResult">
  <div class="jumbotron">
  <!-- TODO: show reservation detail information (sum of price, name, play title, date, time...) -->
  <!-- TODO: it could be made by using Session.get() which is coming from clicking confirm button -->
    <h2>예약이 완료되었습니다!</h2>
  	<p>결제는 현장에서 이루어 집니다.</p>
  </div>

  <!-- TODO: button style refine -->
  <!-- <div> <a class="btn btn-default back">돌아가기(back)</a></div> -->
  <br><br><br>
  <div class="btn-container"> <a class="btn btn-default form-control back">돌아가기(back)</a> </div>

</template>
