<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid height-full">


      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>


      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor 'postsList'}}">공연정보</a></li>
          <li><a href="{{pathFor 'postSubmit'}}">공연정보작성</a></li>
          <li><a href="{{pathFor 'guestCheck'}}">예약확인</a></li>
          <li><a href="{{pathFor 'statistic'}}">통계</a></li>
          <li><a href="{{pathFor 'settings'}}">설정</a></li>
        </ul>


      </div>
    </div>
  </nav>
</template>