<template name="searchResult">


<!--   <div class="wrapper">
    <div class="paragraph">
      <h3>{{playTitle}}</h3>
    </div>
    <div class="paragraph">
      <p>{{start}}</p>
    </div>
      <p>{{guests.[0].name}}</p>
      <p>{{guests.[0].phone}}</p>
      <p>{{guests.[0].seats}}</p>
  </div>

 -->
 <!-- DATA CONTEXT TEST -->
 <!-- <div>{{playTitle}}</div> -->
 <!-- <div>{{data.playTitle}}</div> -->
 <!-- <div>{{data.guests}}</div> -->
 {{#each guest in data.guests}}
 <div id="search_result">
   <div class="search_result_1">
     <!-- <div class="result_title">{{playTitle}}</div>
     <div class="result_datetime">{{start}}</div> -->
     <h4 class="result_name">{{guest.name}}</h4>
     <p class="result_phone">{{guest.phone}}</p>
   </div>
   <div class="search_result_2">
     <h4 class="result_title">{{data.playTitle}}</h4>
     <p class="result_datetime">{{data.start}}</p>
     <p class="result_seats">{{guest.seats}}</p>
   </div>
 </div>
 {{/each}}




 <!--
 <article class="row">
        <p><h3>{{playTitle}}</h3></p>
        <div class="teaser">
        {{start}}
        </div>
    </article>
 -->
</template>
