<template name="timeSelect">

    <div class="selects time">

        <div class="hour_lb col-md-6">
            <label>시(hour)</label>
        </div>

        <div class="min_lb col-md-6">
            <label>분(min)</label>
        </div>
         
        <div class="time_select_hour col-md-6">
            <select name="hour" class="form-control">
                {{#each hour in getHours}}
                    {{>timeOption val=hour}}
                {{/each}}
            </select>
        </div>

        <div class="time_select_min col-md-6">
            <select name="min" class="form-control">
                {{#each min in getMins}}
                    {{>timeOption val=min}}
                {{/each}}
            </select>
        </div>

    </div>

    <div>&nbsp;&nbsp;&nbsp;</div>
    
</template>