<template name="postItem">
  <div class="post">


    <div class="post-content">


    <div class="left_image">
    <p>image will be ready...</p>
      <!-- image -->


    </div>

    <div class="right_text">
      <p class="subTitle">{{title}}</p>

      <p class="topTxt">
        <strong>{{period}}</strong><br>
      </p>

      <ul class="infomationText">

      {{#each item}}
        {{#if isExistInDB place}}
          <li>
            <p class="tit">{{elementDesc.place}}</p>
            <p class="con">{{place}}</p>
          </li>
        {{/if}}
      {{/each}}

      <h3>장소 {{place}}</h3>
      <h3>입장권 {{price}}</h3>
      <h3>{{duration}}</h3>
      <h3>{{contact}}</h3>
      <h3>{{ageGrade}}</h3>
      <h3>{{sponsor}}</h3>
      <h3>{{production}}</h3>
      <h3>{{director}}</h3>
      <h3>{{original}}</h3>
      <h3>{{cast}}</h3>
      <h3>{{arrange}}</h3>

      </ul>
    </div>

    <div class="center_text">
      <h3>{{description}}</h3>
      <h3>{{synopsis}}</h3>
      <h3>{{staffs}}</h3>           
    </div>



      

      <br><br>

      <span>Written at {{submitted}}
      submitted by {{author}} {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </span>

      <div name="text" cols="100" rows="10" style="resize:none" readonly="readonly" class="post-content">

      <!-- triple {{{}}} means reading as HTML tag -->
      {{{text}}}
      </div>
    </div>

    {{#if isInPostsList}}
      <a href="{{pathFor 'reserveTicket'}}" class="discuss btn btn-default">예약하기</a>
    {{/if}}


    <br><br><br><br>

<!--     {{#with sendingResult}}
      {{#if error}}
        <p>There was an error: {{error.errorType}} {{error.message}}!</p>
        {{else}}
        <p>Resutl of sening: {{sendingResult}} </p>
      {{/if}} 
    {{/with}}
 -->


  </div>
</template>
