<template name="postEdit">

  <form class="main form">

    <div class="form-group {{errorClass 'image'}}">
      <label class="control-label" for="title">이미지</label>
      <div class="controls">

      {{> uploadJquery}} <br />

      <div id="img-preview"></div>
      <span class="help-block">{{errorMessage 'image'}}</span>
      </div>
    </div>


    <div class="thumbNailDiv">

      {{#each img in imgFiles}}
        {{> thumbNailView img}}
      {{/each}}

    <!-- {{#if getThumbNailImgFill 0 }}
      {{> thumbNailView divClass="left" pClass="t_p_0" imgClass="t_img_0" delIdx="del_0"}}
    {{/if}}

    {{#if getThumbNailImgFill 1 }}
      {{> thumbNailView divClass="middle" pClass="t_p_1" imgClass="t_img_1" delIdx="del_1"}}
    {{/if}}

    {{#if getThumbNailImgFill 2 }}
      {{> thumbNailView divClass="right" pClass="t_p_2" imgClass="t_img_2" delIdx="del_2"}}
    {{/if}} -->

    </div>

    <!-- TODO: erneuern mit template -->
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">제목</label>
      <div class="controls">
        <input name="title" id="title" type="text" value="{{title}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>

    <div class="form-group {{errorClass 'period'}}">
      <label class="control-label" for="period">공연기간</label>
      <div class="controls">
        <input name="period" id="period" type="text" value="{{period}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'period'}}</span>
      </div>
    </div>

    <div class="form-group {{errorClass 'place'}}">
      <label class="control-label" for="place">장소</label>
      <div class="controls">
        <input name="place" id="place" type="text" value="{{place}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'place'}}</span>
      </div>
    </div>


<!--
      <div class="form-group">
        <label for="modal_num_of_seats">좌석수(number of seats)</label>
        <input type="text" name="modal_num_of_seats" class="form-control" placeholder="ex) 33">
      </div> -->
<!--
    <div class="form-group {{errorClass 'duration'}}">
      <label class="control-label" for="duration">소요시간(playtime)</label>
      <div class="controls">
        {{> timeSelect idSpecific="_submit_playtime"}}
        <span class="help-block">{{errorMessage 'duration'}}</span>
      </div>
    </div>

 -->
    <div class="form-group {{errorClass 'playDates'}}">
      <label class="control-label" for="playDates">공연시간</label>
      <div class="controls">
        <input name="playDates" id="playDates" type="text" value="{{playDates}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'playDates'}}</span>
      </div>
    </div>
    <!-- {{> froalaEditor}} -->

    <div class="form-group">
      <label class="control-label" for="playDatesDetail">공연시간세부사항</label>
      <div class="controls">
        <input name="playDatesDetail" id="playDatesDetail" type="text" value= "{{playDatesDetail}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'playDatesDetail'}}</span>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="ticketPrice">티켓가격</label>
      <div class="controls">
        <input name="ticketPrice" id="ticketPrice" type="text" value="{{price}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'ticektPrice'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="duration">소요시간</label>
      <div class="controls">
        <input name="duration" id="duration" type="text" value="{{duration}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'duration'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="contact">문의</label>
      <div class="controls">
        <input name="contact" id="contact" type="text" value="{{contact}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'contact'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="ageGrade">관람연령</label>
      <div class="controls">
        <input name="ageGrade" id="ageGrade" type="text" value="{{ageGrade}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'ageGrade'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="sponsor">주최</label>
      <div class="controls">
        <input name="sponsor" id="sponsor" type="text" value="{{sponsor}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'sponsor'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="production">제작</label>
      <div class="controls">
        <input name="production" id="production" type="text" value="{{production}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'production'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="director">연출</label>
      <div class="controls">
        <input name="director" id="director" type="text" value="{{director}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'director'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="original">작</label>
      <div class="controls">
        <input name="original" id="original" type="text" value="{{original}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'original'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="cast">출연</label>
      <div class="controls">
        <input name="cast" id="cast" type="text" value="{{cast}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'cast'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="arrange">각색</label>
      <div class="controls">
        <input name="arrange" id="arrange" type="text" value="{{arrange}}" class="form-control"/>
        <!-- <span class="help-block">{{errorMessage 'arrange'}}</span> -->
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="description">작품소개</label>
      <div class="controls">
        <!-- <input name="description" id="description" type="text" value={{description}} class="form-control"/> -->
        <textarea name="description" class="form-control" rows="10" id="description" value="{{description}}"></textarea>
        <!-- <textarea name="description" cols="50" rows="10"></textarea> -->
        <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="synopsis">시놉시스</label>
      <div class="controls">
        <textarea name="synopsis" class="form-control" rows="10" id="synopsis" value="{{synopsis}}"></textarea>
        <!-- <input name="synopsis" id="synopsis" type="text" value="{{synopsis}}" class="form-control"/> -->
        <span class="help-block">{{errorMessage 'synopsis'}}</span>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="staffs">스탭 소개</label>
      <div class="controls">
        <input name="staffs" id="staffs" type="text" value="{{staffs}}" class="form-control"/>
        <span class="help-block">{{errorMessage 'staffs'}}</span>
      </div>
    </div>


    <br />
    <div class="form-group {{errorClass 'event'}}">
      <label class="control-label" for="insert_events">공연 회차 입력</label>
      <div class="controls">
        <!-- Calender -->
        {{> calender postID=_id}}
      <span class="help-block">{{errorMessage 'event'}}</span>
      </div>
    </div>
    <br />


    <input type="submit" value="Submit" class="btn btn-primary submit"/>
  </form>



</template>
