<template name="postItem">
  <div class="post">


    <div class="post-content">

    {{#if currentUser}}
    <span>Written at {{submitted}}
    submitted by {{author}} {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
    </span>
    {{/if}}


    <div class="_images">
      <img id="image_show_0" />
      <img id="image_show_1" />
      <img id="image_show_2" />
    </div>


    <div class="_text">
      <p class="subTitle"> <h2>{{title}}</h2> </p>

      <p class="topTxt">
        <strong>{{period}}</strong><br>
      </p>


      <ul id="infomationText">

      {{#if getRendered}}
        {{addElement "place"}}
        {{addElement "playDates"}}
        {{addElement "price"}}
        {{addElement "duration"}}
        {{addElement "contact"}}
        {{addElement "ageGrade"}}
        {{addElement "sponsor"}}
        {{addElement "production"}}
        {{addElement "director"}}
        {{addElement "original"}}
        {{addElement "cast"}}
      {{/if}}


      </ul>
    </div>

    <div class="center_text">
      {{#if getRendered}}
        {{addElement "arrange"}}
        {{addElement "description"}}
        {{addElement "synopsis"}}
        {{addElement "staffs"}}
      {{/if}}
    </div>



      

      <br><br>

      <div name="text" cols="100" rows="10" style="resize:none" readonly="readonly" class="post-content">

      <!-- triple {{{}}} means reading as HTML tag -->
      {{{text}}}
      </div>
    </div>

    {{#if isInPostsList}}
      <a href="{{pathFor 'reserveTicket'}}" class="discuss btn btn-default">예약하기</a>
    {{/if}}


    <br><br><br><br>

<!--     {{#with sendingResult}}
      {{#if error}}
        <p>There was an error: {{error.errorType}} {{error.message}}!</p>
        {{else}}
        <p>Resutl of sening: {{sendingResult}} </p>
      {{/if}} 
    {{/with}}
 -->


  </div>
</template>
