<template name="postItem">
  <div class="post">
    <div class="post-content">

      {{#unless isInPlaysList}}
        {{#if currentUser}}
        <span>Written at {{submitted}}
        submitted by {{author}} {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
        </span>
        {{/if}}
      {{/unless}}

      <br><br><br><br>

      <div class="_text">
        <h2 class="post_title">{{title}}</h2>
        <h3 class="post_period">{{period}}</h3><br>

      {{#if isInPlaysList}}
        {{> imageSlide idx=numberIdx srcs=includeImages}}
      {{else}}
        {{> imageSlide idx="a_post_item" srcs=includeImages}}
      {{/if}}



        <ul id="infomationText">

        {{> listElement title="장소" content=place}}
        {{> listElement title="공연시간" content=playDates}}
        {{> listElement title="공연시간세부사항" content=playDatesDetail}}
        {{> listElement title="입장권" content=ticketPrice}}
        {{> listElement title="소요시간" content=duration}}
        {{> listElement title="문의" content=contact}}
        {{> listElement title="관람연령" content=ageGrade}}
        {{> listElement title="주최" content=sponsor}}
        {{> listElement title="제작" content=production}}
        {{> listElement title="연출" content=director}}
        {{> listElement title="원작" content=original}}
        {{> listElement title="출연" content=cast}}
        {{> listElement title="각색" content=arrange}}
        {{> listElement title="작품소개" content=description}}
        {{> listElement title="시놉시스" content=synopsis}}
        {{> listElement title="스태프" content=staffs}}

        </ul>
      </div>



    <!-- admin side -->
    {{#unless isInPlaysList}}

    {{/unless}}

    <!-- In statistic -->
    {{#if isFromStatistic}}
      <div> <a class="btn btn-default statistic {{_id}}">관객통계</a> </div>
    {{/if}}

    <!-- RESERVATION  -->
    {{#if isInPlaysList}}
      <!-- {{#unless getClickedId _id}} -->
        <div class="btn-container"> <a class="btn btn-warning reserve form-control {{_id}}">예약하기</a> </div>
      <!-- {{/unless}} -->
    {{/if}}

    <!-- TODO: Show loading page when it need to be loaded. -->

    {{# if getClickedId _id}}
      {{#unless getStatisticPost}}
        <div class="reservationStep_1">
          <h4 class="select_datetime">1. 날짜 및 회차 선택(Select date and time)</h4>
          <p class="desc_datetime">* 잔여 좌석을 참고하여 원하시는 날짜 및 회차를 선택해 주세요.</p>
          <!-- <p class="desc_datetime">** 달력 전체가 보이지 않을 경우 달력을 아래로 스크롤 해주세요.</p> -->
        </div>
      {{/unless}}
        <br />
          {{> calender postID=_id}}

      {{# if getEventClicked}}
      <!-- TODO: Display selected date and time -->
        {{> nameUndNummer}}
        <!-- <div> <a class="btn btn-default reserve_cancel {{_id}}">취소</a> </div> -->
        <br />
        <div class="btn-container"> <a class="btn btn-success reserve_confirm form-control {{_id}}">예약확정</a> </div>
      {{/if}}

      <!-- {{#unless getEventClicked}} -->
      <!-- <div> <a class="btn btn-default reserve_cancel {{_id}}">취소</a> </div> -->
      <!-- {{/unless}} -->

    {{/if}}

<!--     {{#with sendingResult}}
      {{#if error}}
        <p>There was an error: {{error.errorType}} {{error.message}}!</p>
        {{else}}
        <p>Resutl of sening: {{sendingResult}} </p>
      {{/if}}
    {{/with}}
 -->


    </div>
  </div>
</template>
